In [1]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [2]:
city_data_df = pd.read_csv("./Data/WeatherPY_Database.csv")
city_data_df

,City_Id,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,ilulissat,61,GL,broken clouds,70,69.22,-51.10,44.60,0.00,0.00,2.24
1,1,kodinsk,47,RU,scattered clouds,35,58.69,99.18,83.46,0.00,0.00,3.56
2,2,west odessa,1,US,clear sky,29,31.84,-102.50,89.60,0.00,0.00,13.87
3,3,lompoc,90,US,overcast clouds,87,34.64,-120.46,59.00,0.00,0.00,10.29
4,4,albany,33,US,scattered clouds,92,42.60,-73.97,78.01,0.00,0.00,2.82
...,...,...,...,...,...,...,...,...,...,...,...,...
561,561,makat,0,KZ,clear sky,43,47.65,53.35,79.20,0.00,0.00,16.42
562,562,rusape,0,ZW,clear sky,80,-18.53,32.13,44.83,0.00,0.00,2.19
563,563,xingcheng,90,CN,overcast clouds,56,40.62,120.72,79.14,0.00,0.00,19.75
564,564,palu,27,ID,light rain,56,-0.89,119.87,89.58,0.74,0.74,2.73
565,565,yazykovo,0,RU,clear sky,71,55.22,56.14,51.66,0.00,0.00,9.24

In [3]:
city_data_df.dtypes

City_Id                  int64
City                    object
Cloudiness               int64
Country                 object
Current Description     object
Humidity                 int64
Lat                    float64
Lng                    float64
Max Temp               float64
Rain (inches)          float64
Snow (inches)          float64
Wind Speed             float64
dtype: object

In [4]:
# configure gmaps,
gmaps.configure(api_key=g_key)

In [5]:
# Enter the maximum temperature critieria.
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 20
What is the maximum temperature you would like for your vacation? 210

In [6]:
# Enter if rain is wanted.
rain_amount = input("Do you want it to be raining? (y/n) ")

Do you want it to be raining? (y/n) n

In [7]:
# Enter if snow is wanted.
snow_amount = input("Do you want it to be snowing? (y/n) ")

Do you want it to be snowing? (y/n) n

In [8]:
if rain_amount == "n" and snow_amount == "n":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] == 0) &
                                          (city_data_df["Snow (inches)"] == 0)]
elif rain_amount == "n" and snow_amount == "y":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] == 0) &
                                          (city_data_df["Snow (inches)"] >= 0)]
elif rain_amount == "y" and snow_amount == "n":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] >= 0) &
                                          (city_data_df["Snow (inches)"] == 0)]
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] >= 0) &
                                          (city_data_df["Snow (inches)"] >= 0)]

In [9]:
filtered_cities_df.head()

,City_Id,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,ilulissat,61,GL,broken clouds,70,69.22,-51.10,44.60,0.0,0.0,2.24
1,1,kodinsk,47,RU,scattered clouds,35,58.69,99.18,83.46,0.0,0.0,3.56
2,2,west odessa,1,US,clear sky,29,31.84,-102.50,89.60,0.0,0.0,13.87
3,3,lompoc,90,US,overcast clouds,87,34.64,-120.46,59.00,0.0,0.0,10.29
4,4,albany,33,US,scattered clouds,92,42.60,-73.97,78.01,0.0,0.0,2.82

In [10]:
filtered_cities_df.count()

City_Id                499
City                   499
Cloudiness             499
Country                494
Current Description    499
Humidity               499
Lat                    499
Lng                    499
Max Temp               499
Rain (inches)          499
Snow (inches)          499
Wind Speed             499
dtype: int64

In [13]:
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df

,City_Id,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,ilulissat,61,GL,broken clouds,70,69.22,-51.10,44.60,0.0,0.0,2.24
1,1,kodinsk,47,RU,scattered clouds,35,58.69,99.18,83.46,0.0,0.0,3.56
2,2,west odessa,1,US,clear sky,29,31.84,-102.50,89.60,0.0,0.0,13.87
3,3,lompoc,90,US,overcast clouds,87,34.64,-120.46,59.00,0.0,0.0,10.29
4,4,albany,33,US,scattered clouds,92,42.60,-73.97,78.01,0.0,0.0,2.82
...,...,...,...,...,...,...,...,...,...,...,...,...
560,560,visnes,89,NO,overcast clouds,87,59.36,5.22,59.00,0.0,0.0,9.17
561,561,makat,0,KZ,clear sky,43,47.65,53.35,79.20,0.0,0.0,16.42
562,562,rusape,0,ZW,clear sky,80,-18.53,32.13,44.83,0.0,0.0,2.19
563,563,xingcheng,90,CN,overcast clouds,56,40.62,120.72,79.14,0.0,0.0,19.75
565,565,yazykovo,0,RU,clear sky,71,55.22,56.14,51.66,0.0,0.0,9.24

In [15]:
filtered_cities_df.count()

City_Id                494
City                   494
Cloudiness             494
Country                494
Current Description    494
Humidity               494
Lat                    494
Lng                    494
Max Temp               494
Rain (inches)          494
Snow (inches)          494
Wind Speed             494
dtype: int64

In [17]:
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

          City Country  Max Temp    Lat     Lng Hotel Name
0    ilulissat      GL     44.60  69.22  -51.10
1      kodinsk      RU     83.46  58.69   99.18
2  west odessa      US     89.60  31.84 -102.50
3       lompoc      US     59.00  34.64 -120.46
4       albany      US     78.01  42.60  -73.97

In [22]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel not found")

Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found

In [25]:
hotel_df.head()

          City Country  Max Temp    Lat     Lng                  Hotel Name
0    ilulissat      GL     44.60  69.22  -51.10                Hotel Arctic
1      kodinsk      RU     83.46  58.69   99.18
2  west odessa      US     89.60  31.84 -102.50    Corporate Mobile Housing
3       lompoc      US     59.00  34.64 -120.46  Holiday Inn Express Lompoc
4       albany      US     78.01  42.60  -73.97

In [29]:
output_data_file = "./Data/WeatherPy_Vacation.csv"
hotel_df.to_csv(output_data_file, index_label = "City_ID")

In [30]:
vacation_df = pd.read_csv("./Data/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,ilulissat,GL,44.60,69.22,-51.10,Hotel Arctic
1,1,kodinsk,RU,83.46,58.69,99.18,NaN
2,2,west odessa,US,89.60,31.84,-102.50,Corporate Mobile Housing
3,3,lompoc,US,59.00,34.64,-120.46,Holiday Inn Express Lompoc
4,4,albany,US,78.01,42.60,-73.97,NaN

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [36]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))